/* Enlever les height des containers et les mettre sur les images */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    overflow-x: hidden; 
}


main {
    margin: 25px;
}

header {
    margin: 25px;
}

#mainlogo {
    width: 170px;
    height: 80px;
}


#mainnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#mainul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}


.mainlien {
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 30px;
   
}

#inscription {
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 30px;

}

.mainlien a {

    margin-top: 20px;
    text-decoration: none;
    color: black;
    
        

}

#inscription a {

    padding-top: 50px;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: black;
}



#inscription a:hover {
    border-top: solid 1px #0065FC;
    color: #0065FC;
    font-weight: bold;
}

#buttonsearchbar {
    width: 150px;
    height: 50px;
    border-top-right-radius: 10px;
    background-color:#0065FC;
    border-bottom-right-radius: 10px;
    color:white;
    box-shadow: none;
    border-style: none;
}

#hiddennormal {
    display: none;
}

#searchbar {
    width:200px;
    height:50px;
}

.classi {


display: flex;
position: relative;
padding: 0;
margin: 5px;
border-radius: 30px;
border: 2px solid #F2F2F2;
height: 45px;
font-size: 19px;
font-weight: 800;
align-items: center;

}

.classi:hover {

    border: 2px solid #DEEBFF;
}



.spanicon {
    display: inline-block;
    border-radius: 30px;
    height: 46px;
    width: 46px;
    text-align: center;
    color: #0065FC;
    background-color: #DEEBFF;
    line-height: 46px;
    -webkit-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.spancategorie {
    margin: 20px;
}

#iconsearchbar {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.searchcity {
    position: relative;
    display: flex;
}

::placeholder {
    font-weight: bold;
    color: black;
    font-family: 'Raleway', sans-serif;
}

input { 
    opacity: 50%;
}

#searchicons {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;

}

#filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#chooseicon {
 
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

#infospan {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 2px solid #F2F2F2;
    color: #0065FC;
    border-radius: 30px ;
    padding: 10px;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
}

#presentationsite {

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
}

 #heberpop {
 
    display:flex;


 }

  #logementdispo {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
  

#hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 70%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    margin: auto;
    padding: 10px;
}

#principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#populaire {
    background-color: #F2F2F2;
    width: 30%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    
}

#flextitlepopulaire {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
    position: relative;
    align-content: flex-start;
}



.divimagehebergement {
    background-color: white;
    width: 25%;
    margin: 15px 0px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    
}


.imagehebergement {
    object-fit: cover;
    width: 95%;
    height: 120px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
}

.texthebergement {
    margin-left: 10px;
}



.starblue {
    height: 10px;
    width: 10px;
    color: #0065FC;
}

.stargrey {
    height: 10px;
    width: 10px;
    color:#DEEBFF;
}

.textpopulaire {
    margin: 0;
    min-width: 50px;
    margin-bottom: 10px;
}

.etoiles {
    margin:0;
    Padding: 0;
    position: absolute;
    bottom: 0;
}

.popcontenu {
    display: flex;
    margin: 5px;
    flex-direction: column;
   position: relative;
}

.positionimg {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.paragraphehebergement>h3 {
    margin-left: 10px;

}


.divimagepop {
    display:flex;
    padding:5px;
    background-color: white;
    width: 90%;
    height: 23%;
    margin: 25px;
    margin-top: 40px;
    border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    
}


.imagepop {
    object-fit: cover;
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#titlemove {

    padding-right: 20px;
}


#activites {
    display: flex;
    width: 100%;
    margin-left: 30px;
}

#titleactivites {
    margin-left: 30px;
}

.divgrand {
    background-color: white;
    width: 25%;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    -webkit-border-radius:25px;
    margin-top: 20px;
}

.divpetit {
    background-color: white;
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-top: 20px;
}

.imagegrand img {
    object-fit:cover;
    width: 100%;
    height: 540px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

 #logopopulaire {
     position: absolute;
     right: 0;
     margin-top: 10px;
 }

.imagepetit img {
    object-fit:cover;
    width:100%;
    height: 245px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imagepetit {
    width: 100%;
}

.nomactivite {
    margin: 10px;
    font-weight: bold;
    text-align: center;
}



.divcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 25%;
}

 

footer {
    background-color:#DEEBFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    background-color: #F2F2F2; 
    margin-top: 40px;
}

.ulfooter {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer>li {
    margin-bottom: 5px;
}

 @media screen and (min-width:1135px) {

    .mainlien a:hover {
        border-top: solid 1px #0065FC;
        color: #0065FC;
        font-weight: bold;
        padding-top: 50px;
    }


 }
@media screen and (max-width:1134px) {

    #inscription {
        position: absolute;
        top: 25px;
        right: 60px;

    }

    #mainnav {
        flex-direction: column;
    }

    #mainul {
        width: 100%;
        flex-flow: unset;
    }

    .mainlien {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

   .mainlien a {
    border-bottom: 4px solid #F2F2F2;
    width: 100%;
    padding-bottom: 15px;
    display: inline-block;
}

    .mainlien a:hover {
        
        border-bottom: 4px solid #0065FC;


    }
     
    .divimagepop {
        width: 90%;
        height: 200px;
    }

    .imagepop {
        
        width: 50%;

    }

    #heberpop {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .imagehebergement {
        width:99%;
        height: 65%;
    }

    #hiddenresponsive {
        display: none;
    }

    #hiddennormal {
        display:block;
        height: 20px;
        width: 20px;
        margin: auto;
    }

    #buttonsearchbar {
        width: 50px;
    
}

    .divimagehebergement {
        width: 100%;
        height: 400px;
        width: 100%;
    }
    
    .imagegrand img {
        height: 250px;
        width: 100%;
    }

    .imagegrand {
        width:100%;
    }

    #activites {
        flex-direction: column;
    }

    #hebermarseille {
        margin-left: 20px;
     }

     #heberplus {
        margin-left: 20px;
    }

   .divgrand {
    background-color: white;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
   }

    .divpetit {
        margin-bottom: 50px;
        width: 90%;
        Margin-left:0px;
    }

    .divcolumn {
        width:100%;
    }

    #presentationsite {
        display: flex;     
        flex-direction: column;
        align-items: center;

    }

    #hebergements {
        width:100%;
        Padding: 0;
        margin-top: 10px;
    }

    #populaire {
        width: 100%;
        margin-right:20px;
    }

    #flextitlepopulaire {
  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    justify-content: flex-start;
}
    
    #activites {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10px;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #F2F2F2; 
    }


}

@media screen and (max-width:1024px) {

    #populaire {
        width:100%;
        Margin-left: 30px;
    }

}

@media screen and (max-width:992px) {


    main {
        margin: 0;
    }

     #filter {
         margin-left: 20px;
     }

    #mainlogo {
        width: 120px;
        height: 50px;
    }

    #inscription {
        position: absolute;
        top: 25px;
        right: 20px;

    }

    .maintitle {
        text-align:center;
    }

    #logementdispo {
        text-align: center;
    }

    #heberpop {
        width: 100%;
        
    }

    .positionimg {
        display:flex;
        align-items: center;
    }

    #mainnav {
        flex-direction: column;
    }

    #mainul {
        width: 100%;
        flex-flow: unset;
    }

     #hebermarseille {
        margin-left: 20px;
     }

    .mainlien {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

   .mainlien a {
    border-bottom: 4px solid #F2F2F2;
    width: 100%;
    padding-bottom: 15px;
    display: inline-block;
}

    .mainlien a:hover {
        
        border-bottom: 4px solid #0065FC;


    }
     
    .divimagepop {
        width: 90%;
        

    }


    #hiddenresponsive {
        display: none;
    }

    #hiddennormal {
        display:block;
        height: 20px;
        width: 20px;
        margin: auto;
    }

    #buttonsearchbar {
        width: 50px;
    
}

    .search {
        display: flex;
        text-align: center;
     flex-direction: column;
        align-items: center;
    }

    

    .divimagehebergement {
        width: 100%;
        height: 400px;
        width: 100%;
        box-shadow: -2px 2px 8px #c5c5c5;
        padding: 5px;
    }

    
    
    .imagehebergement {
        width:99%;
        padding: 0px;
    }

    #heberplus {
        margin-left: 20px;
    }

    #activites {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        align-items: flex-start;
    }

    .divgrand, .divcolumn {
         width: 100%;
         margin-right: 20px;
        
    }

    

    #presentationsite {
        display: flex;
        flex-direction: row;
    
    }

    #hebergements {
        width: 100%;
        Padding: 0;
        margin-top: 50px;
        background-color:white;
    }

    #populaire {
        width: 100%;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        margin-right:20px;
      
    }
    .imagegrand {
        
        width:100%;
    }

    .imagegrand img {
        height: 250px;
        width: 100%;
    }

        .divgrand {
            background-color: white;
            width: 90%;
            margin-top: 10px;
            margin-bottom: 50px;
            box-shadow: 0px 0px 20px 0px rgb(0 0 0);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            
           }
    
           .divpetit {
               display:flex;
               margin-right: 40px;
           }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #F2F2F2; 
    }

}

/* ajouter a la version mobile 

.imagegrand img {
    height: 125px;
    width: 100%;
}

.imagegrand {
    height:125px;
    width:100%;
} */